.backgroundFooter {
    position: relative;
    width: 100%
}

.backgroundFooter2 {
    width: 50%;
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 0;
    left: auto;
}

.circle {
    border-radius: 50%;
    margin: 0.15em;
    font-size: 36px;
}


.fa-facebook {
    background: white;
    color: rgba(79, 164, 198, 1);
    padding: 0.05em 0.3em;
}

.fa-instagram {
    background: white;
    color: rgba(79, 164, 198, 1);
    padding: 0.05em 0.3em;
}

.fa-youtube {
    background: white;
    color: rgba(79, 164, 198, 1);
    padding: 0.05em 0.3em;
}

.fa-linkedin {
    background: white;
    color: rgba(79, 164, 198, 1);
    padding: 0.05em 0.3em;
}

.background-image {
    background-image: url(../img/banner1.png);
    background-size: cover;
    background-position: 70%;
    margin-block-end: 1em;
    width: 100%;
    min-height: 480px;
}

.nav-item {
    padding: .3em 3.5em .3em 3.5em;

}

.nav-item:hover {
    background-color: #9cc6ea;
}

.nav-item:hover {
    background-color: #9cc6ea;
    color: white !important;
}

.nav-link:hover {
    background-color: #9cc6ea;
    color: white !important
}

.navbarTitle {
    color: white !important;
    padding: 0 !important;
    margin: 0 !important;
}

.navbarPrincipal>ul>li {
    padding: 0 1em 0 1em;
    text-transform: uppercase;
}

.tituloBotonera {
    font-weight: 400 !important;
    font-size: 1.2em;
}

.imgBotonera {
    width: 100%;
}

.bg-darker {
    background-color: #1e1f1a;
}

.parallaxEscarapela {
    background-image: url("../img/escarapela.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.text-celeste {
    color: rgba(111, 188, 232, 1);
}

.btn-celeste {
    background-color: rgba(135, 199, 236, 1);
    color: white;
    padding: 1.3em;
    text-decoration: none;
}

.btn-celeste:hover {
    background-color: #65a5dd;
    color: white !important;
    padding: 1.3em;
    text-decoration: none !important;
}

.iconoFooter {
    color: white;
}

.itemNovedad {
    background-color: rgb(236, 236, 236);
}

.tituloNovedad {
    padding-top: .3em;
    font-size: 1.4em;
}

.textoNovedad {
    margin: 0;
    padding-bottom: .3em;
    color: rgb(112, 112, 112);
}

.navbar-nav {
    align-items: center !important;
}

#mobileVerMas {
    position: relative;
    overflow: visible;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -1.5px;
    text-align: left;
    font-family: ProximaNova-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.6px;
    margin-left: 0px !important;
    letter-spacing: normal !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}

#mobileVerMas2 {
    padding-top: 5% !important;
    padding-left: 0% !important;
    margin-left: 15px !important;
}

.imageLogo {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 30%;
}

.nav-link {
    letter-spacing: 1.8px !important;
    color: rgba(112, 111, 111, 1) !important;
    font-size: 16px !important;
    text-align: center !important;
}

#marginLeft {
    margin-left: 60px;
}

@media screen and (max-width: 600px) {
    #marginLeft {
        margin-left: 22px;
    }

    .backgroundFooter {
        position: relative;
        width: 100%
    }

    .backgroundFooter2 {
        width: 100%;
        position: absolute;
        top: auto;
        bottom: 10px;
        right: 0;
        left: auto;
    }




    .p1 {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 271px;
        white-space: nowrap;
        line-height: 15.600000381469727px;
        margin-top: -0.8000001907348633px;
        text-align: center;
        font-family: ProximaNova-Regular;
        font-style: normal;
        font-weight: normal;

        color: rgba(255, 255, 255, 1);

    }

    #mobile {
        line-height: 24px;
        text-align: center !important;
    }

    .nav-link {
        letter-spacing: 1.8px !important;
        color: rgba(112, 111, 111, 1) !important;
        font-size: 16px !important;
        text-align: center !important;
    }

    #mobileProyectos {

        padding-top: 10%;
    }

    .card {
        margin-bottom: 30px;
        color: black;
        border: 1px solid black;


    }


    @media screen and (max-width: 600px) {
        #mobile {

            text-align: center !important;
            font-style: normal;
            font-weight: normal;
            font-size: 14px !important;
            color: rgba(255, 255, 255, 1) !important;
            letter-spacing: 1.8px !important;
            right: 0em !important
        }

        #mobileMedioIndex {


            line-height: 22px;
            text-align: center !important;
            font-style: normal;
            font-weight: normal;
            font-size: 13px !important;
            color: rgba(112, 111, 111, 1) !important;
            font-size: 14px !important;
            color: rgba(112, 111, 111, 1) !important;
            padding-top: 10%;

        }

        #mobileMedio {

            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .imageMedioIndex {
            position: relative;
            width: 45% !important;
            height: auto !important;
            left: 35% !important;

            overflow: visible
        }

        .space {
            padding-bottom: 2em !important;
        }

        #mobileProyectos {

            left: 19px;
            top: 0px;
            position: relative;
            overflow: visible;
            white-space: nowrap;
            margin-top: -15.151643753051758px;
            text-align: left;
            font-family: TrajanPro-Bold;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            color: rgba(111, 188, 232, 1);
            margin-bottom: 0px;
        }

        .imageMedioIndex {
            position: relative;
            width: 45% !important;
            height: auto !important;
            left: 35% !important;

            overflow: visible
        }

        #mobileProyectos {

            left: 19px;
            top: 0px;
            position: relative;
            overflow: visible;
            white-space: nowrap;
            line-height: 52.303287506103516px;
            margin-top: -15.151643753051758px;
            text-align: left;
            font-family: TrajanPro-Bold;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            color: rgba(111, 188, 232, 1);
            margin-bottom: 0px;
        }

        #mobileImage {
            width: 100%;
        }

        #mobileProyectos3 {
            padding-left: 0px !important;
        }

        #mobileVerMas2 {
            padding-top: 5% !important;
            padding-left: 0% !important;
            margin-left: 0% !important;
        }

        .pb-5 {
            padding-bottom: 0rem !important
        }

        #mobileVerMas {
            position: relative;
            overflow: visible;
            white-space: nowrap;
            line-height: 16px;
            margin-top: -1.5px;
            text-align: left;
            font-family: ProximaNova-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 13px !important;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 0.6px;
            margin-left: 0px !important;
            letter-spacing: normal !important;
            padding-right: 5% !important;
            padding-left: 5% !important;
        }

        .imageLogo {
            position: absolute;
            top: 0px;
            left: -10px;
        }

        .btn-celeste {
            background-color: rgba(135, 199, 236, 1);
            color: white;
            padding: 1% !important;
            padding-bottom: 2% !important;
            text-decoration: none;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: 0px;
            margin-right: 0px;

        }

        .col-md-12 {
            position: relative;
            width: 100%;
            padding-right: 0px !important;
            padding-left: 0px !important;

        }

        .icons {
            top: 80px;
            left: 10%;
        }

        #mobile-only {
            display: none;
        }

        .border-right {
            border-right: transparent !important;

            text-align: center;
            padding-bottom: 2em;
        }

        .border-bot {
            border-bottom: 2px solid #dee2e6;
            border-top: 2px solid #dee2e6;
        }

        .footerText {
            padding-top: 2em;
            left: 0px;
            top: 0px;
            position: absolute;
            overflow: visible;
            width: 271px;
            white-space: nowrap;
            line-height: 15.600000381469727px;
            margin-top: -0.8000001907348633px;
            text-align: center;
            font-family: ProximaNova-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 1.8px;
        }

        #mobileFooter {
            position: unset;
            width: 70% !important;
            height: 145.344px;
            left: 104.287px;
            top: 3890px;
            overflow: visible;
        }

        #navbarImage {
            width: 130px !important;
            height: auto;
        }

        div.p-2 {
            font-size: 9px !important;
            color: rgba(82, 82, 82, 1) !important;
            letter-spacing: 1.8px !important;
        }

        .nav-item {
            width: 100%;
        }

        .sizeFooter {
            padding-top: 2.5em;
        }

        #mobileProyectos2 {

            position: relative;
            overflow: visible;
            width: 260px !important;
            white-space: nowrap;
            line-height: 27.600000381469727px !important;
            margin-top: -7.800000190734863px !important;
            text-align: left !important;
            font-family: ProximaNova-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 12px !important;
            color: rgba(82, 82, 82, 1) !important;
        }

        #mobileImage {
            width: 100%;
        }

        #mobileProyectos3 {
            padding-left: 0px !important;
        }

        #mobileVerMas2 {
            padding-top: 5% !important;
            padding-left: 0% !important;
        }

        #mobileVerMas {

            position: relative;
            overflow: visible;
            white-space: nowrap;
            line-height: 16px;
            margin-top: -1.5px;
            text-align: left;
            font-family: ProximaNova-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 13px !important;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 0.6px;
            margin-left: 0px !important;
            letter-spacing: normal !important;
            font-size: unset !important;
            padding-right: 5% !important;
            padding-left: 5% !important;
        }

        .btn-celeste {
            background-color: rgba(135, 199, 236, 1);
            color: white;
            padding: 1% !important;
            padding-bottom: 2% !important;
            text-decoration: none;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        }

        .col-md-12 {
            position: relative;
            width: 100%;
            padding-right: 0px !important;
            padding-left: 0px !important;

        }

        .borderr-right {
            border-right: none
        }

        #mobile-only {

            display: none;

        }

        #mobileFooter {
            position: unset;
            width: 100% !important;
            height: 145.344px;
            left: 104.287px;
            top: 3890px;
            overflow: visible;
        }

        #navbarImage {
            width: 120px !important;
            height: auto;
        }

        div.p-2 {
            font-size: 9px !important;
            color: rgba(82, 82, 82, 1) !important;
            letter-spacing: 1.8px !important;
        }
    }

    .image-novedad {
        width: 100% !important;
    }

    .footer {
        background-image: url(img/crosada.svg);
    }

    #mobileImage {
        width: 100%;
    }

    #navbarImage {
        width: 200px;
        height: auto;
    }

    .sizeFooter {
        padding-top: 2.5em;
    }

    .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler:hover,
    .navbar-light .navbar-toggler:active {
        border-color: transparent !important;
    }




    @media (max-width: 768px) {

        .nav-item {
            padding: 0px;

        }

        #marginLeft {
            margin-left: 10px;
        }

        .sizeFooter {
            padding-top: 0px;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: 0px;
            margin-right: 0px;

        }

        .p-5 {
            padding-top: 2rem !important;
            padding-right: 1rem !important;
            padding-bottom: 3rem !important;
            padding-left: 2rem !important;
        }

        .tituloNovedad {
            padding-top: .3em;
            font-size: 1em;
        }

        .textoNovedad {
            margin: 0;
            padding-bottom: .3em;
            color: rgb(112, 112, 112);
            line-height: 1;
        }

        .footerText {
            font-size: 12px;
            padding-top: 30px;
        }

        .border-right {
            color: transparent;
        }
    }

    /* Icon 1 */

    .animated-icon1,
    .animated-icon2,
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon1 span,
    .animated-icon2 span,
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon1 span {
        background: rgba(135, 199, 236, 1);
    }

    .animated-icon2 span {
        background: rgba(135, 199, 236, 1);
    }

    .animated-icon3 span {
        background: rgba(135, 199, 236, 1);
    }

    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}