
#principal {
  font-weight: 700;
  color: black;
  font-family: sans-serif;
}


.carousel-control-prev-icon:after {
  content: url('../img/icons/carrouselLeft.png');
  font-size: 55px;
  color: black;
}


.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-control-next-icon:after {
  content: url('../img/icons/carrouselRight.png');
  font-size: 55px;
  color: black;
}

.container-card-deck {
  display: flex;
  justify-content: space-between;
}

.card-body {
  font-family: sans-serif;
  left: 0px;
  line-height: 18px;
  position: relative;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  text-align-last: center;
}


.card-title {
  font-weight: bold;
}

.card-text {
  font-weight: normal;
}


.card-img-top {
  height: 250px;
  width: 25px;
  align-self: center;
}

.card-footer {

  text-align-last: center;
}

.card-img-top {
  height: 250px;
  width: 25px;
  align-self: center;
}


@media (min-width: 700px) and (max-width: 768px) {
  .ipad {
  height: 150px !important;
  }

  .card-img-top {
      width: auto !important;
  }
  
  .nav-item {
      padding: 2px 0;
      margin-right: 2px;
      font-weight: bold;
  }
  
  .nav-item .nav-link {
      padding-right: 2px !important;
      padding-left: 2px !important;
  }

  .card-img-top {
      flex-shrink: 0;
      max-width: 100%;
  }

  .btn-block {
      display: block;
      width: fit-content;
  }
}

.carousel-image {
  width: 30%;
}

.main-columns-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left-column-container {
  width: 75%;
}

.right-column-container {
  width: 15%;
}

.novedades-cards-container {
  display: flex;
  flex-direction: column;
}

.novedades-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.novedades-image {
  width: 100%;
}

.main-novedades1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body-container {
  width: 85%;
}

.vl{
  border-left: 2px solid lightskyblue;
  height: 90%;
}

.carousel-control-prev-icon {
  background-image: initial;
  position: absolute;
  left: 0;
}

.carousel-control-next-icon {
  background-image: initial;
  position: absolute;
  right: 0;
}

.big-image {
  background-image: url('../img/Novedades_2.png');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 500px;
}